
body{
    width: 100vw;
    height: 100%;
    background-color: #FFFAE5;
}
.show{
    display: block;
}
.hide{
    display: none;
}

/* Container 1 =============================== */

.container1,
.container2, 
.container1-img,
.container2-img, 
.main-container{
    margin: auto;
    width: 350px;

}
.container1-img{
    cursor: pointer;
}
.container1-img:hover{
    /* border: 5px solid cadetblue; */
    width: 380px;
}

/* Container 2 =============================== */
.container2_div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container2-img{
    width: 250px;
}

.container2-login {
    background-color: #7ED957;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}

.container2-login:hover{
    background-color: #618150;
}

/* Container Registrarme =============================== */
.registrarme{
    width: 350px;
    margin: auto;
}
.registrarme-form{
    display: flex;
    flex-direction: column;
    background-color: #7ED957;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}
.registrarme-form--input{
    margin: 15px;
    padding: 15px;
}


/* Container Ingresar =============================== */
.ingresar-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 350px;
}
.ingresar-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
}

.ingresar-container--input{
    padding: 10px;
    margin: 15px;
}
.ingresar-logo-login{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 350px;
    justify-content: center;
}
.ingresar-form--img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #618150;
    margin: 10px;
}



.main-container img{
    width: 100%;
}
